@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap') ;

th , td {
  width: 120px;
}

* {
  border: 0;
  box-sizing: 0;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background: linear-gradient(to right, #3c1053, #ad5389);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vh;
}

/* Componente Login */
.heading-login {
  text-align: center;
}

.main-login {
  background-color: white;
  border-radius: 8px;
  box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.5);
  max-width: 350px;
  min-height: 40vh;
  padding: 2rem;
}

.div-login {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 20vh;
  min-width: 10vh;
  padding: 2rem;
}

.input-login {
  background-color: #05060f0a;
  border: 2px solid transparent;
  border-radius: 0.5rem;
  font-size: 1rem;
  height: 44px;
  max-width: 190px;
  padding: 0 1rem;
  transition: border-color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
    color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
    background 0.2s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
}

.input-login:hover , .input-login:focus {
  border-color: #05060f;
  outline: none;
}

form .input-login:first-child {
  margin-bottom: 0.6rem;
}

.input-group:hover .input-login {
  border-color: #05060f;
  outline: none;
}

.login-button {
  border: none;
  border-radius: 30em;
  box-shadow: 6px 6px 12px #c5c5c5,
    -6px -6px 12px white;
  color: #633b79;
  cursor: pointer;
  font-family: inherit;
  font-size: 17px;
  font-weight: 700;
  height: 3em;
  margin-top: 1rem;
  overflow: hidden;
  padding: 0.2rem;
  position: relative;
  width: 9em;
  z-index: 1;
}

.login-button:disabled {
  cursor: not-allowed;
}

.login-button:before {
  background-image: linear-gradient(to right, #9c62bb, #c5639e);
  border-radius: 30em;
  color: white;
  content: '';
  display: block;
  height: 3em;
  left: 0;
  position: absolute;
  top: 0;
  transition: 0.5s ease;
  width: 0;
  z-index: -1;
}

.login-button:hover:before {
  width: 9em;
}

.footer a {
  text-decoration: none;
}

/* Componente Wallet */
.header-div {
  align-items: center;
  background: #902799da;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  font-size: 1.4rem;
  font-weight: 700;
  justify-content: space-around;
  left: 0;
  min-height: 10vh;
  padding: 2px;
  position: fixed;
  top: 0;
  width: 100%;
}

.total-currency {
  display: flex;
  gap: 2rem;
}

.main {
  background-color: white;
  border-radius: 8px;
  box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.5);
  max-width: 195vh;
  min-height: 60vh;
  padding: 2rem;
}

.main-wallet {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 20vh;
  padding: 1rem;
  top: 0;
  width: 100%;
}

.div-wallet {
  margin: 1rem;
}

.input-wallet {
  background-color: white;
  border: 2px solid;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  height: 25px;
  margin-left: 0.2rem;
  max-width: 140px;
  padding: 0 1rem;
  text-align: center;
  transition: border-color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
    color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
    background 0.2s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
}

.input-wallet:hover , .input-wallet:focus {
  border-color: #05060f;
  outline: none;
}

.label-wallet {
  margin-right: 0.5rem;
}

.select {
  height: 29px;
}

.addButton {

  --button_radius: 0.75em;

  --button_color: #e8e8e8;

  --button_outline_color: #9c62bb;
  background: var(--button_outline_color);
  border: none;
  border-radius: var(--button_radius);
  color: white;
  font-size: 17px;
  font-weight: 700;
  height: 30px;
  width: 170px;
}

.main-table {
  text-align: center;
  width: 100%;
}

th {
  width: 100px;
}

.buttons {
  align-items: center;
  display: flex;
  justify-content: center;
}

.delete-button {

  --button_outline_color: #9c62bb;
  align-items: center;
  background: var(--button_outline_color);
  border: 0 solid transparent;
  border-radius: 1.25em;
  color: white;
  cursor: pointer;
  display: inline-block;
  flex-direction: column;
  height: 20px;
  justify-content: center;
  padding: 1em;
  position: relative;
  transition: all 0.2s linear;
}

.edit-button {
  align-items: center;
  background-color: rgb(250, 164, 179);
  border: 0 solid transparent;
  border-radius: 1.25em;
  color: white;
  cursor: pointer;
  display: inline-block;
  flex-direction: column;
  height: 20px;
  justify-content: center;
  margin-top: 2px;
  padding: 1em;
  position: relative;
  transition: all 0.2s linear;
}

.delete-button:hover , .edit-button:hover {
  box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.5);
}

@media ( max-width : 560px ) {

  * {
    border: 0;
    box-sizing: 0;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
  }

  body {
    background: #3c1053;
    background-repeat: repeat;
    min-height: 120vh;
    min-width: 40vh;
  }
}
